/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/resources/*
/src/common/cpw/*
/src/common/net/*
/src/common/org/*
/src/common/universalelectricity/*
/src/common/basiccomponents/*
/src/minecraft/cpw/*
/src/minecraft/net/*
/src/minecraft/org/*
/src/minecraft/ibxm/*
/src/minecraft/paulscode/*
/src/minecraft/universalelectricity/*
/src/minecraft/basiccomponents/*
CHANGELOG
LICENSE.txt
*.bat
*.sh

/src/common/fml_at.cfg
/src/common/fml_marker.cfg
/src/common/fmlversion.properties
/src/common/forge_at.cfg
/src/common/mcpmod.info
/src/minecraft/forge_logo.png
/src/minecraft/mcp.png
/src/minecraft/Start.java
/src/common/buildcraft/api/tools/IToolWrench.java
/src/common/dan200/computer/api/IComputerAccess.java
/src/common/dan200/computer/api/IPeripheral.java
/src/common/railcraft/common/api/core/items/ICrowbar.java
