*.bat
*.sh
*.db
*.exe
/*/
LICENSE.txt
CHANGELOG

!/src/
/src/minecraft/*
/src/minecraft/mods/*
!/src/minecraft/mods/biotech/
!/src/minecraft/biotech/
!/src/minecraft/hydraulic/
!/src/minecraft/universalelectricity/
!/mcmod.info
!/LICENCE.txt
!/README